{% extends 'temp/coordinator_home.html' %}
{% block base %}
<h1 align="center"> ADD EXPENSE</h1>
<form method="post">
	<table align="center">

        {% csrf_token %}
		<tr>
			<td>EXPENSE</td>
			<td height="50"><input type="text" name="expense" class="form-control" required=""></td>
		</tr>
		<tr>
			<td>AMOUNT</td>
			<td height="50"><input type="number" name="amt" class="form-control" required=""></td>
		</tr>
        <tr>
			<td>DATE</td>
			<td height="50"><input type="date" name="date" class="form-control" required=""></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" value="SAVE"></td>
			<td><input type="submit" name="submit" value="CANCEL"></td>
		</tr>
    </table></form>
{% endblock %}